.center{
    text-align: center;
    text-decoration: underline;
}
table{
    text-align: left;
    background-color: purple
}
body{
    color: white;
}
h1{
    color: blue;
}
.cntr{
    text-align: left;
}